<!DOCTYPE html>
<html>
  <head>
    <title>Gimix Collections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <!-- Navbar sticky -->
  <nav style="justify-content: center; background:#f9f9f9; padding: 10px;">
    <!-- Logo -->
    <div class="flex items-center space-x-3">
      <%= link_to root_path, class: "flex items-center" do %>
        <img src="<%= asset_path('GimixVisualArtCollections.png') %>" alt="Logo Gimix" style="width:40%;height:auto; margin-left:auto; margin-right:auto;">
      <% end %>
    </div>

    <!-- Menu desktop -->
    <div style="display: flex; justify-content: center; list-style: none; margin: 0; padding: 0; gap: 30px;">
      <%= link_to "Accueil", root_path, class: "hover:text-gray-300" %>
      <%= link_to "Galerie", galerie_path, class: "hover:text-gray-300" %>
      <%= link_to "À propos", a_propos_path, class: "hover:text-gray-300" %>
      <%= link_to "Contact", contact_path, class: "hover:text-gray-300" %>
    </div>
  </nav>
  <%= yield %>
  <footer style="height: 200px; background-color: black; color:white;">
    <div style="text-align: center;padding: 50px;">
      <p>&copy; 2025 Gimix Collections. Tous droits réservés.</p>
    </div>
  </footer>
  </body>
</html>
